<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"></head>

    <body>

        <nav th:replace="/fragments/navbar :: nav"></nav>

        <header class="px-2 py-2 my- text-center">
            <i class="bi bi-egg-fill fs-2"></i>
            <h1 class="display-5 fw-bold">Registrar Periodista</h1>
        </header>

        <div>
            <form class="container" th:action="@{/admin/registro-periodista}" method="POST" enctype="multipart/form-data">
                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error al cargar</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}" class="card text-white bg-success mb-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Éxito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="input-nombre" class="form-label">Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="input-nombre" th:value="${nombre}">
                </div>
                <div class="mb-3">
                    <label for="input-email" class="form-label">Email</label>
                    <input name="email" type="text" class="form-control" id="input-email" th:value="${email}">
                </div>
                <div class="mb-3">
                    <label for="input-archivo" class="form-label">Foto</label>
                    <input name="archivo" type="file" class="form-control" id="input-archivo" th:value="${archivo}">
                </div>
                <div class="mb-3">
                    <label for="input-password" class="form-label">Ingrese una contraseña</label>
                    <input name="password" type="password" class="form-control" id="input-password" th:value="${password}">
                </div>
                <div class="mb-3">
                    <label for="input-password2" class="form-label">Repita su contraseña</label>
                    <input name="password2" type="password" class="form-control" id="input-password2"
                           th:value="${password2}">
                </div>
                <div class="mb-3">
                    <label for="input-sueldo" class="form-label">Ingrese el sueldo</label>
                    <input name="sueldo" type="number" class="form-control" id="input-sueldo"
                           th:value="${sueldo}">
                </div>

                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary center fs-4">
                        Registrar
                        <i class="bi bi-arrow-bar-up"></i>
                    </button>
                </div>
            </form>
        </div>

        <footer th:replace="/fragments/footer :: footer"></footer>
        <!-- Código JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    </body>

</html>